<div id="myCarousel" class="carousel slide carousel-fade">   
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
	<div id="progressbar"></div>
    <!-- Wrapper for slides -->           
    <div class="carousel-inner">
        <div class="messages">
                <h1 class="slideInDown wow animated" data-wow-delay="0.5s">Roberto <span class="heart pulsing fa fa-heart"></span> Jessica</h1>
                <div id="time"></div>
                <h4 class="fadeIn wow animated" data-wow-delay="1.2s">De amor y contando</h4>
                <div class="btn-special slideInUp wow animated page-scroll" data-wow-delay="0.7s">
                    <a href="#about"><span>Descubre mas</span></a>
                </div>          
        </div>
        <div class="item active">
        	<div class="carousel-img" style="background-image:url(assets/carousel-2-jb.jpg)"></div>                            
        </div> 
        <div class="item">
        	<div class="carousel-img" style="background-image:url(assets/carousel-1-jb.jpg)"></div>                            
        </div>
        <div class="item">
        	<div class="carousel-img" style="background-image:url(assets/carousel-3.jpg)"></div>                            
        </div>                                              
    </div>
    <div class="overlay2"></div>               	
    <div id="geo" class="geo">
       <div id="output" class="geo">
       </div>
    </div>             
</div>
