<section class="footer">    
	<!--Footer One-->
    <div class="container-fluid color pattern">
    	<div class="container">
        	<div class="row">        	
                <div class="col-md-12 footer1">
                    <div class="wow fadeInUp" data-wow-delay="0.5s">
                        <p class="text-center"><span class="fa fa-twitter fa-5x"></span></p>
                        <div class="footer-tweet">
                        </div>
                    </div>
                </div> 
        	</div>
        </div>
	</div>        
	<!--Footer Two-->
	<div class="container-fluid dark footer2">
    	<div class="container">
        	<div class="row">        	
            <div class="col-md-12">
            	<!--<img src="images/logo-grey.png" alt="logo"> -->                  
                <p>© Webyzona 2014 - All Rights Reserved. Made With Love For You Only</p>
                <div class="social-icons">
                	<ul>
                        <li class="twitter">
                        <a href="http://www.twitter.com" target="_blank">Twitter</a>
                        </li>
                        
                        <li class="facebook">
                        <a href="http://www.facebook.com" target="_blank">Facebook</a>
                        </li>
                        
                        <li class="youtube">
                        <a href="http://www.youtube.com" target="_blank">YouTube</a>
                        </li>
                        
                        <li class="googleplus">
                        <a href="http://www.plus.google.com" target="_blank">Google +r</a>
                        </li>
                        
                        <li class="pinterest">
                        <a href="http://www.pinterest.com/" target="_blank">Pinterest</a>
                        </li>   

                        <li class="linkedin">
                        <a href="http://www.linkedin.com" target="_blank">Linkedin</a>
                        </li>                                                                                                                                               
                	</ul>
                </div>
            </div>
        </div>
        </div>
	</div>
</section>