<div class="topbar-nav">        
    <nav class="navbar navbar-default navbar-custom" role="navigation">
    	<div class="container">        
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button> 
                <a class="navbar-brand" href="#page-top">
                	<%= image_tag("logo.png", alt: "logo") %>
                </a>                              
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from Adam & Eve link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>                                               
                    <li class="page-scroll">
                        <a href="#about">Roberto & Jessica</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#family">Nuestra Familia</a>
                    </li>                        
                    <li class="page-scroll dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#moments">Big Moments</a>
                        <ul class="dropdown-menu wow swing" role="menu">
                        	<li><a href="wedding.html">Wedding Event</a></li>
                            <li><a href="#">Birthday</a></li>
                            <li><a href="#">Graduation</a></li>
                        </ul>                             
                    </li>
                    <li class="page-scroll">
                        <a href="#favourites">Lista Favoritos</a>                           
                    </li>  
					<!--<li class="page-scroll dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#blog">Nuestro Blog</a>
                        <ul class="dropdown-menu wow swing" role="menu">
                        	<li><a href="category.html">Category Page</a></li>
                            <li><a href="post.html">Single Post</a></li>
                            <li><a href="404.html">404 Error Page</a></li>
                        </ul>
                    </li>                                                        
                    <li class="page-scroll">
                        <a href="#contactus">Contact</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        
    	</div>
    </nav>
</div>