<section id="aboutthem" class="white">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="heading">
        <h2 class="wow fadeInUp underline padtop50" data-wow-delay="0.5s">Bienvenidos</h2>
        <p class="wow fadeInUp" data-wow-delay="0.7s">
        Bienvenido a la página web de Roberto & Jessy en la que con orgullo decimos y recordamos nuestra historia de amor con todos sus altibajos, así como todos los grandes momentos y acontecimientos felices.
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <ul class="ch-grid man wow flipInX" data-wow-delay="0.5s">
          <li>
          <div class="ch-item ch-img-1">
            <div class="ch-info">
              <h3>I'm Roberto</h3>
              <p>Soy web developer apasionado. me encanta disfrutar un buen cafe, la cocina, y me fascina pasar tiempo con Jessica.</p>
            </div>
          </div>
          </li>
        </ul>	
      </div>
      <div class="and">&amp;</div> 
      <div class="col-md-6">
        <ul class="ch-grid woman wow flipInX" data-wow-delay="0.5s">
          <li>
          <div class="ch-item ch-img-2">
            <div class="ch-info">
              <h3>I'm Jessica</h3>
              <p>Soy ejecutiva de Nominas, amante de la reposteria, las compras y disfrutar de mis antojos.</p>
            </div>
          </div>
          </li>
        </ul>	
      </div>              
    </div>
  </div>
</div>        
<!--Loveline-->
<div class="container">                    
  <div class="row">
    <div class="col-md-12">
      <div class="heading">
        <h2 class="wow fadeInUp underline padtop50" data-wow-delay="0.5s">Nuestra Línea de Amor</h2>
        <p class="wow fadeInUp" data-wow-delay="0.7s">
        <strong>Los momentos de amor</strong> son especiales y deben ser registrados y recordados siempre, nosotros les mostraremos algunos de los momentos especiales para nosotros.
        </p>
      </div>                
      <ul class="timeline"> 
        <li> 
        <div class="timeline-badge wow fadeInUp" data-wow-delay="0.5s"><i class="icon icolove-lips"></i></div> 
        <div class="timeline-panel wow fadeInLeft" data-wow-delay="0.7s"> 
          <div class="timeline-heading"> 
            <h4 class="timeline-title">Nuestro primer beso</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 28 May 2008 - Por Roberto</small></p> 
          </div> 
          <div class="timeline-body"> 
            <p>
            Recuerdo ese momento estando los dos sentados afuera de el deportivo de la preparatoria 2, recuerdo su mirada, fue la mejor sensación, senti muchas sensaciones en mi cuerpo, me perdi totalmente en lo feliz y enamorado que me sentía, realmente algo que nunca olvidaremos.
            </p>
          </div> 
        </div> 
        </li>

        <li class="timeline-inverted negative100"> 
        <div class="timeline-badge time wow fadeInUp" data-wow-delay="0.5s"><i class="icon icolove-ring"></i></div> 
        <div class="timeline-panel wow fadeInRight" data-wow-delay="0.7s"> 
          <div class="timeline-heading"> 
            <h4 class="timeline-title">Anillo de Promesa</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 20 Dec 2010 - By Eve</small></p> 
          </div> 
          <div class="timeline-body"> 
            <p>
            Her boyfriend gives her a Mercedes, [her friends] say, 'Oh, that's nice.' But her boyfriend gives her a diamond, they say, 'Oh, he's serious.' It's not just the gift of love-it's the gift of commitment. She's not jumping up and down because she got a diamond ring but because she got a guy!
            </p>                                      
          </div> 
        </div> 
        </li>

        <li class="negative75"> 
        <div class="timeline-badge wow fadeInUp" data-wow-delay="0.5s"><i class="icon icolove-married"></i></div> 
        <div class="timeline-panel wow fadeInLeft" data-wow-delay="0.7s"> 
          <div class="timeline-heading"> 
            <h4 class="timeline-title">Got Married</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Comming Soon!</small></p> 
          </div> 
          <div class="timeline-body"> 
            <p>
            
            </p>
          </div> 
        </div> 
        </li>

        <li class="timeline-inverted negative50"> 
        <div class="timeline-badge time wow fadeInUp" data-wow-delay="0.5s"><i class="icon icolove-pregnancy"></i></div> 
        <div class="timeline-panel wow fadeInRight" data-wow-delay="0.7s"> 
          <div class="timeline-heading"> 
            <h4 class="timeline-title">I'm Pregnant</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Comming Soon!</small></p> 
          </div> 
          <div class="timeline-body"> 
            <p>
            </p>                                      
          </div> 
        </div> 
        </li>
      </ul>
    </div>
  </div>                               
</div>
<div class="separator"></div>       
</section>
